<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do List</title>
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>

    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <form  action="/checkbox" method="post" >
        <% itemList.forEach((itemList, i) => {%>
        <div class="item">

          <input type="checkbox" name="checkbox"  value="<%= itemList %>"  onchange="aparecer()">
         <p id=text><%= itemList %></p>
         <button type="submit" id="<%= itemList %>" value="<%= itemList %>" name="btn" class="ls">-</button>
        </div>

        <%   }); %>

        </form>

      <form  action="/" method="post" class="item">
      <input type="text" name="newItem"  placeholder="New Item" >
      <button type="submit" name="button" >+</button>
   </form>
 </div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="jquerry/list.js" charset="utf-8"></script>
  </body>

  <footer>
      @SlothFactory production.
  </footer>
</html>
